<div class="section">
	<div class="row">
		<div class="col s12">
      <h4 class="header">Pick subjects to register</h4>
      <div *ngFor="let subject of unselectedSubjects; index as i" class="card">
        <div class="card-content row">
              <div class="col s1">
                <div class="switch">
              <label>
                <input id="{{subject._id}}" (change)="toggleEvent($event)" type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
          <div class="col s11">
            Subject code : <strong>{{subject._id}}</strong> Year : <strong> {{studentYear}} </strong> Semster : <strong> {{studentSemester}} </strong> Subject : <strong> {{subject.name}} </strong>
                </div>
        </div>
      </div>
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="section">
	<div class="row">
	  	<div class="col s12">
	  	  	<div class="row">
            <div class="col s6">
              <h4 class="header">Subjects picked to register</h4>
            </div>
            <div class="col s6">
              <a (click)="registerButtonClick($event)" class="waves-effect waves-light btn-large">Register</a>
            </div>
          </div>
          <div *ngFor="let subject of selectedSubjects; index as i" class="card">
            <div class="card-content row">
                  <div class="col s1">
                    <div class="switch">
                  <label>
                    <input checked=true id="{{subject._id}}" (change)="toggleEvent($event)" type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
              </div>
              <div class="col s11">
                Subject code : <strong>{{subject._id}}</strong> Year : <strong> {{studentYear}} </strong> Semster : <strong> {{studentSemester}} </strong> Subject : <strong> {{subject.name}} </strong>
                    </div>
            </div>
        </div>

	  	</div>
	</div>
</div>
