<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"> Open Exams</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Subjects</a></li>
        <li><a href="#">Students</a></li>
        <li><a href="#"></a>dashboard</li>
        <li><a class="waves-effect waves-light btn">Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#!" class="sidenav-close"><i class="material-icons">arrow_back</i></a></li>
    <li><a href="#">Subjects</a></li>
    <li><a href="#">Students</a></li>
    <li><a href="#"></a>dashboard</li>
    <li><a class="waves-effect waves-light btn">Logout</a></li>
    
  </ul>